.skillcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;

}

.skillcontainer__text {
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 2px;
}

.skillcontainer__text>h2 {
    font-size: 20px;

}

.skillcontainer__image {
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
}

.skillcontainer__image>img {
    width: 600px;
    border-radius: 3px;
    object-fit: contain;
}

.skillcontainer__skillset>h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 10px;

}